<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Phaser - Making your first game, part 1</title>
    <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.min.js"></script>
    {% load static %}
</head>
<body>

<script type="text/javascript">

    var game = new Phaser.Game(800, 600, Phaser.AUTO, '', {preload: preload, create: create, update: update});

    function preload() {
        game.load.image('sky', '{% static "img/sky.png" %}');
        game.load.image('star', '{% static "img/star.png" %}');
    }

    function create ()
{
    this.add.image(0, 0, 'sky');
    this.add.image(400, 300, 'star');
}

    function update() {
    }

</script>

</body>
</html>